<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel = "icon" href = "/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class = "main-content">
        {{>header}}
        <p>Contact ritvikshah2000@gmail.com for any queries.</p> 

    </div>

    {{>footer}}

</body>



</html>