<footer>
    <p>Created by {{name}}</p>

    <p>      </p>


     <!--Navigation bar-->
    <a href = "/">Weather</a>
    <a href = "/about">About</a>
    <a href = "/help">Help</a>

</footer>




    
